
  body {
    background-color: #EAE7C6;
  }
hr {

  border-color :  #E4CDA7;
  border-style:dotted none none ;
  border-width : 5px;
  width : 10% ;
}
h1 {
  color :  #1A374D;

}
h3 {
  color : #406882;
}
